body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  min-height: 100vh;
}
.loader {
  justify-content: center;
  margin-top: 50px;
}
